#projects-list {
    padding: 1em;
}

#projects-list li {
    list-style: none;
    display: inline-block;
    padding: 3em 2em;
    color: #fff;
}

#projects-list li:first-child {
    background-color: #16a085;
}

#projects-list li:nth-child(2) {
    background-color: #2980b9;
}

#projects-list li:nth-child(3) {
    background-color: #f39c12;
}

#projects-list li:nth-child(4) {
    background-color: #34495e;
}

#projects-list li:nth-child(5) {
    background-color: #2ecc71;
}

#result {
	display: inline-block;
}

.winner {
    color: #f1c40f;
    font-size: 28px;
}

.gameover {
    color: #c0392b;
    font-size: 28px;
}

.hint {
    color: #7f8c8d;
    font-style: italic;
    margin-top: 25px;
    font-size: 21px;
}

.col-half {
    width: 45%;
    display: inline-block;
}