#projects-list {
    padding: 1em;
}
#projects-list li {
    margin-top: 2em;
    list-style: none;
    display: inline-block;
    padding: 3em 2em;
    background-color: #16a085;
}

#projects-list a li{
    color: #fff;
    text-decoration: none;
}

#result {
	display: inline-block;
}

.winner {
    color: #f1c40f;
    font-size: 28px;
}

.gameover {
    color: #c0392b;
    font-size: 28px;
}

.hint {
    color: #7f8c8d;
    font-style: italic;
    margin-top: 25px;
    font-size: 21px;
}

.col-half {
    width: 45%;
    display: inline-block;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}